.channel-list .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.channel-list .channelLink-wrapper {
  position: relative;
}
.channel-list .channelLink-wrapper .tooltip {
  right: -10px;
}
