.channel-nav {
  width: 240px;
  padding-right: 2px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.sidebar > header {
  position: relative;
  padding: 0 16px;
  height: 48px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  box-shadow: var(--low-shadow);
  flex: 0 0 auto;
  font-weight: 600;
  overflow: auto;
}

.room-list {
  flex: 1 1 auto;
  padding-right: 4px;
  overflow: hidden auto;
}

.category-room-wrapper {
  padding-top: 16px;
}

.category-room-wrapper header {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 24px;
  padding-right: 8px;
  padding-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex: 1 1 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: default;
  overflow: hidden;
}

.room-link-item {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.room-link-item .content {
  flex: 1 1 auto;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 8px;
  border-radius: 4px;
  margin-left: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.room-link-item .content span {
  display: block;
  padding: 6px 0;
  font-size: 16px;
  line-height: 20px;
  flex: 1 1 auto;
  white-space: normal;
}

.room-link-item .content:hover {
  background-color: rgba(174, 174, 174, 0.1);
}
.room-link-item .content.active {
  background-color: rgba(201, 201, 201, 0.1);
}

.unread {
  position: absolute;
  left: -7px;
}

.unread img {
  display: block;
  width: 18px;
  height: 18px;
}
