.chat-msg:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.chat-msg.mentioned {
  background-color: var(--background-mentioned);
  border-left: 2px solid hsla(38, 95.7%, 54.1%, 1);
}
.chat-msg.mentioned:hover {
  background-color: var(--background-mentioned-hover);
}

.chat-msg .msg {
  margin-top: 1.06rem;
  min-height: 2.75rem;
  padding: 0.125rem 48px 0.125rem 72px;
  position: relative;
}

.chat-msg .msg .msg-reply-context {
  --reply-spacing: 4px;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: var(--header-secondary);
  position: relative;
  white-space: pre;
  margin-bottom: 4px;
}

.chat-msg .msg .msg-reply-context:before {
  --spine-width: 2px;
  --avatar-size: 40px;
  --gutter: 16px;
  content: '';
  display: block;
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: 50%;
  right: 100%;
  bottom: 0;
  left: calc(var(--avatar-size) / 2 * -1 + var(--gutter) * -1);
  margin-right: var(--reply-spacing);
  margin-top: calc(var(--spine-width) * -1 / 2);
  margin-left: calc(var(--spine-width) * -1 / 2);
  margin-bottom: calc(0.125rem - 4px);
  border-left: var(--spine-width) solid var(--background-accent);
  border-bottom: 0 solid var(--background-accent);
  border-right: 0 solid var(--background-accent);
  border-top: var(--spine-width) solid var(--background-accent);
  border-top-left-radius: 6px;
}

.chat-msg .msg .msg-reply-context .avatar {
  flex: 0 0 auto;
  width: 16px;
  height: 16px;
  user-select: none;
  margin-right: 0.25rem;
}

.chat-msg .msg .msg-reply-context .display-name {
  flex-shrink: 0;
  margin-right: 0.25rem;
  opacity: 0.64;
  display: inline;
  position: relative;
  overflow: hidden;
}

.chat-msg .msg .msg-reply-context .replied-text-preview {
  flex: 0 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-msg .msg .msg-reply-context .replied-text-preview .content {
  margin-left: -72px;
  padding-left: 72px;
  overflow: hidden;
  position: relative;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  white-space: pre;
  text-overflow: ellipsis;
  user-select: none;
}

.chat-msg .msg .content .avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  left: 16px;
  margin-top: calc(4px - 0.125rem);
}

.chat-msg .msg .content header {
  display: block;
  position: relative;
  line-height: 1.375rem;
  min-height: 1.375rem;
  white-space: break-spaces;
  font-weight: 500;
}

.chat-msg .msg .content header .display-name {
  margin-right: 0.25rem;
  color: var(--header-primary);
}

.chat-msg .msg .content header .timestamp {
  display: inline-block;
  height: 1.25rem;
  cursor: default;
  pointer-events: none;
  font-size: 0.75rem;
  vertical-align: baseline;
  color: var(--text-muted);
}

.chat-msg .msg .content .content .msg .content-content {
  margin-left: -72px;
  padding-left: 72px;
  overflow: hidden;
  font-size: 1rem;
  line-height: 1.375rem;
  white-space: break-spaces;
  word-wrap: break-word;
  color: var(--text-normal);
}
