.chat-bar {
  position: relative;
  flex-shrink: 0;
  padding: 0 16px;
  margin-top: -8px;
  margin-bottom: 24px;
}
.chat-bar .chat-wrapper {
  background-color: var(--fg-color);
  display: flex;
  position: relative;
  width: 100%;
  border-radius: 10px;
  text-indent: 0;
}
.chat-bar .input-wrapper {
  width: 100%;
  min-height: 44px;
  box-sizing: border-box;
  overflow-wrap: break-word;
  padding: 11px 0;
  line-height: 1.375rem;
  font-weight: 400;
}
.chat-bar .input-wrapper input {
  width: 100%;
}
