main#chat {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.messages-ctn {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
  z-index: 0;
}

.messages-ctn .scroller {
  overflow: hidden auto;
  padding: 20px 0;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.messages-ctn .scroller .scroller-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  align-items: stretch;
}

.messages-ctn .mention-wrapper {
  background-color: rgba(203, 62, 91, 0.5);
}
.messages-ctn .mention-wrapper:hover {
  background-color: #cb3e5b;
}

.subscribe-banner {
  display: flex;
  align-items: center;
  padding: 0 16px;
  margin-top: -8px;
  margin-bottom: 24px;
  column-gap: 10px;
  font-size: 14px;
}
.subscribe-banner .flat-btn {
  background-color: var(--fg-color);
  height: 32px;
}
