.create-channel {
  --header-primary: #0f0f14;
  --header-secondary: #343b58;
}

.create-channel {
  background-color: #d5d6db;
  height: 396px;
}

.create-channel footer {
  background-color: #9699a3;
}
