.create-channel-node_two header {
  padding: 24px 24px 0;
}

.create-channel-node_two .content {
  margin: 16px 0;
  padding: 0 16px;
  border-radius: 5px 5px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.create-channel-node_two .content .upload-file {
  position: relative;
  cursor: pointer;
  align-self: center;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}
.create-channel-node_two .content .upload-file.init {
  border: 3px dashed gray;
}

.create-channel-node_two .content .upload-file .camera-fill {
  height: 30px;
}
.create-channel-node_two .content .upload-file .add-circle-bg {
  position: absolute;
  top: -3px;
  right: 2px;
  background-color: #d5d6db;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.create-channel-node_two .content .upload-file .add-circle-fill {
  position: absolute;
  top: -5px;
  right: 0px;
  z-index: 1;
  filter: invert(34%) sepia(55%) saturate(1678%) hue-rotate(315deg)
    brightness(86%) contrast(89%);
}

.create-channel-node_two .content .icon-preview {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.create-channel-node_two footer .btn-ctn {
  display: flex;
  justify-content: space-between;
}

.create-channel-node_two footer .flat-btn.filled {
  height: 38px;
  min-width: 96px;
}
