.create-channel {
  --header-primary: #0f0f14;
  --header-secondary: #343b58;
}

.create-channel {
  background-color: var(--light-bg-color);
  height: 396px;
}
.create-channel form .input-wrapper input {
  background-color: var(--interactive-hover);
}

.create-channel footer {
  background-color: #9699a3;
}
