.create-channel-node_one .btn-ctn {
  flex-direction: column;
  color: var(--header-primary);
}

.create-channel-node_one .btn-ctn .flat-btn {
  border-radius: 8px;
  border: 1px solid gray;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  height: 66px;
  width: 100%;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
