.icon-btn {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-btn i {
  display: inline-block;
  position: relative;
}

.icon-btn i.circle {
  border-radius: 50%;
}

.icon-btn i.rectangle {
  border-radius: 8px;
}
