#main-nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 12px 0;
  background-color: var(--secondary-fg-color);
}

#main-nav > header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main-nav > header .list-item:first-child .avatar {
  cursor: default;
}

#main-nav .header-underline {
  height: 2px;
  width: 30px;
  background-color: black;
}

#main-nav .list-item {
  width: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 8px;
}

#main-nav .scroller {
  flex: 1 1 auto;
  overflow: visible auto;
}

#main-nav .avatar {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  cursor: pointer;
}

#main-nav .avatar-ctn:hover,
#main-nav .selected .avatar {
  border-radius: 10px;
}

#main-nav .btn-ctn {
  flex-direction: column;
}
#main-nav .icon-btn {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: var(--bg-color);
}
#main-nav .btn-ctn .icon-btn.active,
#main-nav .btn-ctn .icon-btn:hover {
  background-color: var(--action-normal);
  border-radius: 10px;
}
#main-nav .btn-ctn .icon-btn img {
  filter: var(--action-normal-filter);
}
#main-nav .btn-ctn .icon-btn.active img,
#main-nav .btn-ctn .icon-btn:hover img {
  filter: var(--text-normal-filter);
}

#main-nav .btn-ctn .icon-btn:hover,
#main-nav .channel-list .avatar:hover {
  border-radius: 10px;
}

@media screen and (min-width: 500px) {
  #main-nav {
    max-width: 72px;
  }
}
