.mention-counter-wrapper {
  background-color: rgb(191, 49, 48);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  user-select: none;
}
