.mentions-popup {
  position: absolute;
  left: 0 !important;
  right: 0;
  bottom: calc(100% + 8px);
  background-color: var(--fg-color);
  border-radius: 5px;
  box-shadow: var(--elevate-shadow), var(--elevation-high);
}

.textarea__suggestions {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  margin-top: 0 !important;
  background-color: var(--fg-color) !important;
}

.mentions-popup .suggestions-wrapper {
  overflow: hidden;
  max-height: 490px;
  padding-right: 0;
  padding-bottom: 8px;
  position: relative;
  box-sizing: border-box;
}

.mentions-popup .suggestions-wrapper header {
  border-radius: 3px;
  padding: 8px;
}

.mentions-popup .suggestions-wrapper .text-wrapper {
  padding: 4px 8px;
  font-style: italic;
  text-align: center;
}

.mentions-popup .suggestions-wrapper header h3,
.mentions-popup .suggestions-wrapper .text-wrapper span {
  color: var(--interactive-normal);
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 4px 0;
}

.mentions-popup .suggestions-wrapper .text-wrapper span {
  font-weight: 500;
}
