.users-ctn {
  height: 100vh;
  width: 80%;
  overflow: hidden auto;
  background-color: var(--fg-color);
  font-weight: 500;
}

.role-users-wrapper {
  padding: 24px 8px 0 16px;
}

.user-wrapper {
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 42px;
  padding: 0 8px;
  cursor: pointer;
}

.mentions-popup .suggestions-wrapper .user-wrapper.user-focused,
.user-wrapper:hover {
  background-color: rgba(174, 174, 174, 0.1);
}

.user-wrapper .avatar {
  flex: 0 0 auto;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 12px;
}

.user-wrapper .content {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: none;
  flex: 1 1 auto;
}

.user-wrapper .content .subText {
  margin-top: -2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (min-width: 500px) {
  .users-ctn {
    max-width: 250px;
  }
}
