.settings {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  z-index: 5;
  background-color: var(--bg-color);
}

.settings .sidebar-region {
  display: flex;
  justify-content: flex-end;
  flex: 1 0 218px;
  background-color: var(--fg-color);
}
.settings .sidebar-scroller {
  overflow: hidden auto;
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.settings .sidebar {
  width: 218px;
  padding: 60px 20px 60px 25px;
}
.settings .sidebar .list-wrapper {
  overflow: hidden auto;
  flex: 1 0 auto;
  align-items: flex-start;
}
.settings .sidebar header {
  padding: 6px 10px;
}
.settings .sidebar header:first-child {
  padding-top: 0;
}
.settings .sidebar header h2 {
  color: var(--text-muted);
  font-weight: 700;
}
.settings .sidebar .settings-category-wrapper {
  margin: 10px 0;
}
.settings .sidebar .settings-category-wrapper:first-child {
  margin-top: 0;
}
.settings .sidebar .list-item {
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 2px;
}
.settings .sidebar .list-item:hover {
  background-color: var(--hover-main);
}
.settings .sidebar .list-underline-wrapper {
  height: 1px;
  background-color: var(--text-muted);
  margin: 8px 10px;
}

.settings .content-region {
  position: relative;
  display: flex;
  flex: 1 1 800px;
  align-items: flex-start;
  background-color: var(--bg-color);
  box-sizing: border-box;
}
.settings .content-transition-wrapper {
  flex: 1;
  height: 100%;
  box-sizing: border-box;
}
.settings .content-scroller {
  overflow: hidden auto;
  height: 100%;
  position: static;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  flex: 1;
}
.settings .content {
  position: relative;
  background-color: var(--bg-color);
  flex: 1 1 auto;
  padding: 60px 40px;
  max-width: 740px;
  min-width: 460px;
  min-height: 100%;
  box-sizing: border-box;
}

.settings .content header {
  box-sizing: border-box;
  margin-bottom: 20px;
}
.settings .content header h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.settings .actions {
  background-color: var(--bg-color);
  margin-right: 21px;
  position: relative;
  flex: 0 0 36px;
  width: 60px;
  padding-top: 60px;
}
.settings .actions .close-btn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--background-accent);
  border-radius: 50%;
  width: 36px;
  height: 36px;
}
.settings .actions .close-btn:hover {
  background-color: rgba(114, 118, 125, 0.3);
}
.settings .actions .close-btn img {
  filter: var(--text-normal-filter);
}

.settings .divider {
  width: 100%;
  height: 1px;
  border-top: thin solid var(--background-accent);
}

.settings .flat-btn {
  height: 32px;
  min-width: 60px;
}
