.tooltip {
  position: absolute;
}

.tooltip-wrapper {
  position: relative;
  background-color: rgba(22, 24, 35, 0.9);
  padding: 3px 20px;
  user-select: none;
  border-radius: 4px;
}
.tooltip-wrapper:before {
  content: '';
  position: absolute;
  bottom: 50%;
  left: 0%;
  height: 10px;
  width: 10px;
  /* border-left: 1px solid var(--form-accent);
  border-top: 1px solid var(--form-accent); */
  background-color: rgba(22, 24, 35, 0.9);
  margin-bottom: -5px;
  margin-left: -5px;
  transform: rotate(45deg);
  z-index: 1;
}

.tooltip-wrapper .text-wrapper {
  font-size: 16px;
  font-weight: 600;
}
