.tooltip {
  position: absolute;
}

.tooltip-wrapper {
  position: relative;
  background-color: rgba(22, 24, 35, 0.9);
  padding: 3px 20px;
  user-select: none;
  border-radius: 4px;
}
.tooltip-wrapper::before {
  content: '';
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: rgba(22, 24, 35, 0.9);
  z-index: 1;
}
.tooltip-wrapper.right:before {
  bottom: 50%;
  left: 0%;
  margin-bottom: -5px;
  margin-left: -5px;
  transform: rotate(45deg);
}
.tooltip-wrapper.top:before {
  bottom: 0%;
  left: 50%;
  margin-bottom: -5px;
  margin-left: -5px;
  transform: rotate(45deg);
}

.tooltip-wrapper .text-wrapper {
  font-size: 16px;
  font-weight: 600;
}
