.top-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  width: 100%;
  box-sizing: border-box;
  flex: 0 0 auto;
  height: 48px;
  padding: 0 8px;
  font-size: 16px;
  line-height: 20px;
  cursor: default;
  z-index: 2;
  box-shadow: var(--low-shadow);
  color: var(--text-normal);
}
.top-bar.mobile {
  padding: 0 20px;
}

.top-bar header {
  display: flex;
  align-items: center;
}

.top-bar .room-name-wrapper {
  font-weight: 600;
  color: var(--header-primary);
  font-size: 16px;
  line-height: 20px;
  margin-left: 16px;
}

.top-bar .divider {
  width: 1px;
  height: 24px;
  margin: 0 8px;
  flex: 0 0 auto;
  background-color: var(--header-primary);
}

.top-bar .icon-btn {
  filter: var(--interactive-normal-filter);
}
.top-bar .icon-btn:hover {
  filter: var(--interactive-hover-filter);
}
.top-bar .icon-btn img {
  height: 18px;
  width: 18px;
}
