.user_profile .caps-title {
  margin-bottom: 8px;
}

.user_profile .row-layout {
  justify-content: space-between;
}
.user_profile .col-layout {
  flex-direction: column-reverse;
}
.user_profile .customization-wrapper {
  margin-bottom: 40px;
}

.user_profile .btn-ctn {
  margin-top: 16px;
}
.user_profile .btn-ctn .flat-btn {
  margin-right: 4px;
}

.user_profile .preview {
  flex: 0 0 auto;
}

.user_profile .preview .account-profile-card {
  position: relative;
  width: 300px;
  min-width: 300px;
  min-height: 180px;
}
.user_profile.mobile .preview .account-profile-card {
  width: auto;
  min-width: auto;
}
.user_profile .preview .account-profile-card .banner {
  height: 60px;
}
.user_profile .preview .account-profile-card .user-info .avatar {
  top: 16px;
  left: 16px;
}
.user_profile .preview .account-profile-card .user-info {
  display: block;
  padding: 64px 16px 16px;
}
