$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?e00e856f7e281bd1a8eef496ef904096") format("truetype"),
url("./flaticon.woff?e00e856f7e281bd1a8eef496ef904096") format("woff"),
url("./flaticon.woff2?e00e856f7e281bd1a8eef496ef904096") format("woff2"),
url("./flaticon.eot?e00e856f7e281bd1a8eef496ef904096#iefix") format("embedded-opentype"),
url("./flaticon.svg?e00e856f7e281bd1a8eef496ef904096#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "gif": "\f101",
    "happy": "\f102",
    "plus": "\f103",
    "explore": "\f104",
);

.flaticon-gif:before {
    content: map-get($flaticon-map, "gif");
}
.flaticon-happy:before {
    content: map-get($flaticon-map, "happy");
}
.flaticon-plus:before {
    content: map-get($flaticon-map, "plus");
}
.flaticon-explore:before {
    content: map-get($flaticon-map, "explore");
}
