@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?e00e856f7e281bd1a8eef496ef904096") format("truetype"),
url("./flaticon.woff?e00e856f7e281bd1a8eef496ef904096") format("woff"),
url("./flaticon.woff2?e00e856f7e281bd1a8eef496ef904096") format("woff2"),
url("./flaticon.eot?e00e856f7e281bd1a8eef496ef904096#iefix") format("embedded-opentype"),
url("./flaticon.svg?e00e856f7e281bd1a8eef496ef904096#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-gif:before {
    content: "\f101";
}
.flaticon-happy:before {
    content: "\f102";
}
.flaticon-plus:before {
    content: "\f103";
}
.flaticon-explore:before {
    content: "\f104";
}
