$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?bf945d016a52723b967a800b226d4b3d") format("truetype"),
url("./flaticon.woff?bf945d016a52723b967a800b226d4b3d") format("woff"),
url("./flaticon.woff2?bf945d016a52723b967a800b226d4b3d") format("woff2"),
url("./flaticon.eot?bf945d016a52723b967a800b226d4b3d#iefix") format("embedded-opentype"),
url("./flaticon.svg?bf945d016a52723b967a800b226d4b3d#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "gif": "\f101",
    "happy": "\f102",
    "plus": "\f103",
);

.flaticon-gif:before {
    content: map-get($flaticon-map, "gif");
}
.flaticon-happy:before {
    content: map-get($flaticon-map, "happy");
}
.flaticon-plus:before {
    content: map-get($flaticon-map, "plus");
}
