:root {
  --bg-color: rgba(37, 36, 59, 255);
  --bg-color-filter: invert(14%) sepia(18%) saturate(1194%) hue-rotate(204deg)
    brightness(90%) contrast(96%);
  --light-bg-color: #d5d6db;
  --background-accent: #4f545c;
  --fg-color: rgba(32, 31, 53, 255);
  --secondary-fg-color: #161823;
  --header-primary: #fff;
  --header-secondary: #b9bbbe;
  --hover-main: rgba(174, 174, 174, 0.1);
  --action-normal: #cb3e5b;
  --action-hover: #ac354d;
  --action-muted: rgba(203, 62, 91, 0.5);
  --action-normal-filter: invert(32%) sepia(25%) saturate(3713%)
    hue-rotate(317deg) brightness(94%) contrast(87%);
  --action-hover-filter: invert(23%) sepia(83%) saturate(1478%)
    hue-rotate(320deg) brightness(91%) contrast(85%);
  --text-normal: #dcddde;
  --text-dark: #0f0f14;
  --text-normal-filter: invert(99%) sepia(6%) saturate(408%) hue-rotate(175deg)
    brightness(88%) contrast(98%);
  --text-muted: #72767d;
  --text-muted-filter: invert(50%) sepia(1%) saturate(2278%) hue-rotate(179deg)
    brightness(90%) contrast(80%);
  --text-danger: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);
  --interactive-normal: #b9bbbe;
  --interactive-hover: #dcddde;
  --interactive-normal-filter: invert(79%) sepia(6%) saturate(124%)
    hue-rotate(177deg) brightness(95%) contrast(90%);
  --interactive-hover-filter: invert(96%) sepia(5%) saturate(42%)
    hue-rotate(169deg) brightness(94%) contrast(89%);
  --low-shadow: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05),
    0 2px 0 rgba(4, 4, 5, 0.05);
  --elevate-shadow: 0 0 0 1px rgba(4, 4, 5, 0.15);
  --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
}

html,
body,
h1,
h2,
h3,
h4,
h5,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
a:visited,
a:active,
a:visited:active {
  color: inherit;
}

button,
input[type='submit'],
input[type='text'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background: inherit !important;
}

button,
.icon-btn,
.flat-btn {
  cursor: pointer;
}

h1,
h2,
h3 {
  color: var(--header-primary);
}

h4,
h5,
h6 {
  color: var(--header-secondary);
  font-weight: 400;
}

body {
  overflow: hidden;
  color: var(--text-normal);
  background-color: var(--bg-color);
  font-family: 'Mukta', 'sans-serif';
}

.hidden {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  z-index: 20;
}

.app {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.btn-ctn {
  display: flex;
}

.caps-title {
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.25px;
  font-weight: 600;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.display-name {
  font-weight: 500;
}

button.inactive,
.flat-btn.inactive {
  opacity: 0.5;
  pointer-events: none;
}

.sidebar {
  background-color: var(--fg-color);
  box-sizing: border-box;
}

.field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}
.field .constrained-row {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
  margin-right: 16px;
}
.field:not(:first-child) {
  margin-top: 24px;
}
.field .flat-btn {
  margin-top: auto;
  margin-bottom: auto;
}
.field h5 {
  margin-bottom: 4px;
  color: var(--header-secondary);
  font-weight: 600;
  flex: 1;
}
.field .inner_row {
  text-overflow: ellipsis;
  overflow: hidden;
}
.field .inner_row span {
  line-height: 20px;
  font-size: 16px;
  display: block;
}
.field .flat-btn {
  background-color: #4f545c;
}
.field .flat-btn:hover {
  background-color: #5d6269;
}

.margin-top-40 {
  margin-top: 40px;
}
.margin-top-20 {
  margin-top: 20px;
}

.header-secondary {
  color: var(--header-secondary);
}

.subtext {
  font-size: 12px;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 16px;
  color: inherit;
}

form .input-wrapper {
  display: flex;
  flex-direction: column;
}

form .input-wrapper input {
  padding: 10px;
  height: 40px;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid var(--background-accent);
  box-shadow: none;
  background-color: inherit;
  color: var(--text-normal);
}

form .input-wrapper input:focus {
  outline: none;
  border: 1px solid #0645ad;
}

.error,
.error label {
  color: var(--text-danger) !important;
}
.error-msg {
  font-style: italic;
}
.error input {
  border: 1px solid var(--text-danger) !important;
}

.row-layout {
  display: flex;
  position: relative;
  box-sizing: border-box;
}

.no-pointer-events {
  pointer-events: none;
}

.link {
  display: block;
  color: var(--header-secondary);
  font-size: 12px;
  margin-top: 8px;
  font-style: italic;
  cursor: pointer;
  transition: color 0.2s ease;
}
.link:hover {
  text-decoration: underline;
  color: var(--text-normal);
}

.icon-btn,
.avatar,
.default_transition {
  transition: all 0.2s ease;
}
