:root {
  --bg-color: rgba(37, 36, 59, 255);
  --background-accent: #4f545c;
  --fg-color: rgba(32, 31, 53, 255);
  --secondary-fg-color: #161823;
  --header-primary: #fff;
  --header-secondary: #b9bbbe;
  --hover-main: rgba(174, 174, 174, 0.1);
  --action-normal: #cb3e5b;
  --action-muted: rgba(203, 62, 91, 0.5);
  --text-normal: #dcddde;
  --text-normal-filter: invert(99%) sepia(6%) saturate(408%) hue-rotate(175deg)
    brightness(88%) contrast(98%);
  --text-muted: #72767d;
  --text-muted-filter: invert(50%) sepia(1%) saturate(2278%) hue-rotate(179deg)
    brightness(90%) contrast(80%);
  --interactive-normal: #b9bbbe;
  --interactive-hover: #dcddde;
  --interactive-normal-filter: invert(79%) sepia(6%) saturate(124%)
    hue-rotate(177deg) brightness(95%) contrast(90%);
  --interactive-hover-filter: invert(96%) sepia(5%) saturate(42%)
    hue-rotate(169deg) brightness(94%) contrast(89%);
  --low-shadow: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05),
    0 2px 0 rgba(4, 4, 5, 0.05);
  --elevate-shadow: 0 0 0 1px rgba(4, 4, 5, 0.15);
  --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
}

html,
body,
h1,
h2,
h3,
h4,
h5,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
a:visited,
a:active,
a:visited:active {
  color: inherit;
}

button,
input[type='submit'],
input[type='text'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

button {
  cursor: pointer;
}

h1,
h2,
h3 {
  color: var(--header-primary);
}

h4,
h5,
h6 {
  color: var(--header-secondary);
  font-weight: 400;
}

body {
  overflow: hidden;
  color: var(--text-normal);
  background-color: var(--bg-color);
  font-family: 'Mukta', 'sans-serif';
}

.hidden {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  z-index: 2;
}

.app {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.btn-ctn {
  display: flex;
}

.caps-title {
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.25px;
  font-weight: 600;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.display-name {
  font-weight: 500;
}

.avatar {
  border-radius: 50%;
}

.flat-btn.inactive {
  opacity: 0.5;
  pointer-events: none;
}

.sidebar {
  background-color: var(--fg-color);
}

.flat-btn.filled {
  background-color: var(--action-normal);
  border-radius: 3px;
  padding: 2px 16px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.17s ease, color 0.17s ease;
}
